@charset "UTF-8";
/* CSS Document */

.content-div {
	margin-left: 20%;
	margin-right: 20%;
}

.block {
	float: left;
	height: 250px;
	width: 250px;
	margin: 30px;
	padding: 40px;
	font-family: 'Dancing Script', cursive;
	align-content: center;
	font-size: 30px;
	color: cornsilk;
}

.block-falafel {
	float: left;
	height: 250px;
	width: 250px;
	margin: 30px;
	padding: 50px;
	background-image: url("images/falafel250-250.jpg");
	background-color: azure;
	background-repeat: no-repeat;
}

h1 {
	font-family: 'Dancing Script', cursive;
}